span.bandbox {
    height: 1.8em;
    width: 1.8em;
    background-color: var(--band-black);
    display: inline-block;
    vertical-align: middle;
    content: "";
    border-radius: 0.66ch;
    margin: 0 0.5ch;
}

/* Excludes "Bands:" label */
tr:not(:first-child) {
    counter-increment: list-number;
}

/* We hide Band #3 (the third digit) if we are counting Four bands. If we labeled in static html, we'd have Band 1, ... 2, ... 4, ... 5 (missing 3) BUT if we do it like this in CSS, the counter doesn't count hidden elements!*/
article>table tr:not(:first-child) td:nth-child(1)::after {
    content: counter(list-number) ":  ";
}

input,
select {
    width: 10ch !important;
}

#bands {
    margin: 0;
    border: none;
    height: fit-content
}